#blanket {
	position: fixed;
	width: 100vw;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
    background: gray;
    text-align: center;
    opacity: 0.9;
}

.blanket-disappear {
    opacity: 0 !important;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s, position 2s;
    z-index: -1000 !important;
}

.blanket-leave {
	position: relative !important;
    transition: position 1s linear;
    transition-delay: 1s;
    -webkit-transition: position 1s linear;
    -webkit-transition-delay: 1s;
}

#blanket--paragraph {
	position: inherit;
	top: 50%;
    left: 35%;
    width: 30vw;
    word-wrap: break-word;
	font-size: xx-large;
    color: white;
    line-height: inherit;
}
