<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../content/extension.css"/>
		<link rel="stylesheet" href="../content/popup.css"/>
	</head>
	<body>
		<div class="panel">
			<div class="panel-section panel-section-list">
				<div class="panel-list-item" id="tabs-preferences">
					<div class="icon"><img src="../icons/preferences.svg" /></div>
					<div class="text locale" id="preferences">Settings</div>
				</div>
			</div>
		</div>
		<script type="module" src="../components/popup.js"></script>
	</body>
</html>